# ================================
# OhMyUniversity! — mobile
# ================================

# ================================
# Miscellaneous
# ================================
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# ================================
# VS Code
# ================================
.vscode/*
*.code-workspace

# ================================
# IntelliJ / Android Studio
# ================================
*.iml
*.ipr
*.iws
.idea/
.gradle/
gradle-wrapper.jar
captures/
.externalNativeBuild/
.cxx/
local.properties

# ================================
# Flutter/Dart/Pub
# ================================
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# ================================
# Symbolication
# ================================
app.*.symbols

# ================================
# Obfuscation
# ================================
app.*.map.json

# ================================
# Android
# ================================
/android/app/debug
/android/app/profile
/android/app/release
*.apk
*.aab
*.keystore
*.jks

# ================================
# iOS
# ================================
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Flutter/Generated.xcconfig
*.ipa
